/* base/darkmode.css */
body.darktheme {
  background-color: #111;
  color: #eee;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}

.darktheme footer, .darktheme header {
  background: #111;
  border-color: #333;
  box-shadow: none;
}

.darktheme .box {
  background-color: #1e1e1e;
  color: #f0f0f0;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}

.darktheme input,
.darktheme select {
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}

.darktheme h3 {
  background: linear-gradient(to bottom right, #444, #222);
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}

#darktheme {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f1c40f;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: ease-in-out;
}
